<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="tela-login">
        <div class="tela-esquerda">
            <!-- Aqui vai o código que será exibido na esquerda -->
             <img src="img/fundo login.jpg">
        </div>

        <div class="tela-direita">
            <!-- Aqui vai o código que será exibido na direita -->´
             <h1>Login</h1>
             <p>E-mail</p>
             <input type="text">
             <p>Senha</p>
             <input type="password">
             <div class="botoes">
                <a href="home.html">Entrar</a>
             </div>
        </div>
    </div>    
</body>
</html>